/* (A) ENTIRE PAGE */
#cal-wrap * {
  font-family: helvetica, arial, sans-serif;
}

.ninja {
  display: none !important;
}

/* (B) CONTAINER */
#cal-wrap {
  max-width: 900px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

/* (C) PERIOD SELECTOR */
#cal-date {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

#cal-mth,
#cal-yr {
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1.5em;
  border: 0;
}

/* (D) CALENDAR */
#calendar {
  width: 100%;
  border-collapse: collapse;
}

 #cal-container>.head  {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #f37070;
  padding: 15px;
  text-align: center;
  height: 25px;
}

.day{
  overflow: hidden;

}

.day:hover {
  background: #e9e5d2;
  cursor: pointer;
}

.today {
  background: #ffdede;
}

.dd {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 1.2em;
  color: #999;
}

.evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  background-color: #ff5d5d;
  color: white;
  border-radius: 10px;
  padding-left: 5px;
}

.evt-view{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #ff5d5d;
  color: white;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.evt-view{
  text-align: left;
}

.evt-view:hover{
  background-color: #ca4a4a;
}

.evt-view span{
  float: right;
  cursor: pointer;
}

/* (E) ADD/EDIT EVENT */
#cal-event {
  position: absolute;
  top: 20vh;
  left: 25vw;
  width: 600px;
  height: 300px;
  padding: 15px;
  margin-top: 20px;
  background: #f5f5f5;
  border: 1px solid #ddd;
}

#alert {
  color: #ff5d5d;

}

#cal-event h1 {
  color: #333;
  padding: 0;
  margin: 0;
}

#evt-date {
  color: rgb(247, 232, 232);
  margin: 2.5vh 2.5vh;
}

textarea {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2.5vh;
  box-sizing: border-box;
  width: 90vw;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.eventBtn {
  cursor: pointer;
  width: 42.5vw;
  padding: 10px;
  margin: 2.5vw;
  font-size: 1.2em;
  border: 0;
  background: #ea4c4c;
  color: #fff;
  border-radius: 10px;
}

#cal-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px 5px;
  height: 80vh;
}

#cal-container>div {
  height: 90px;
  border-radius: 10px;
  padding: 5px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

#eventsDay {
  position:absolute;
  top: 0;
  left: 0;
  background-color: #555;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: scroll;
}


/* MOBILE SCREENS */
@media screen and (max-width: 768px){
#cal-wrap{
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

#cal-container>div {
  font-size: 14px;
  padding: 2px;
}

#cal-container>.head  {
  padding: 5px;
  height: 15px;
  gap: 3px 3px;
}

#cal-event {
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}


}